tabs-:defined {
	display: inline-grid; 
	--base: from Canvas h s;
	border: 2px solid light-dark(
		hsl(var(--base) calc(l * 0.95)),
		hsl(var(--base) calc(l * 3.75))
	);
	background-color: light-dark(
		hsl(var(--base) calc(l * 0.95)),
		hsl(var(--base) calc(l * 1.25))
	);
	inline-size: min(100%, 40rem);

	&:where([orientation="vertical"]) {
		grid-template-columns: auto 1fr;
	}
}

tablist-:defined,
::part(tablist) {
	display: inline-grid;
	justify-content: start;
	gap: 8px;
	padding: 8px;
	position: relative;
}

tablist-:defined:state(vertical),
::part(tablist):state(vertical) {
	border-inline-end: 2px solid light-dark(
		hsl(var(--base) calc(l * 0.95)),
		hsl(var(--base) calc(l * 4))
	);
}

tablist-:defined:state(horizontal),
::part(tablist):state(horizontal) {
	overflow-x: auto;
	grid-auto-flow: column;
	border-block-end: 2px solid light-dark(
		hsl(var(--base) calc(l * 0.95)),
		hsl(var(--base) calc(l * 4))
	);
}


tab-:defined {
	display: inline-block;
	padding: 8px;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid CanvasText;
	background-color: light-dark(
		hsl(var(--base) calc(l * 0.95)),
		hsl(var(--base) calc(l * 2))
	);
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

	&:state(selected) {
		color: Canvas;
		background-color: CanvasText;
	}
}

tabpanel-:defined {
	padding: 16px;
}


:is(tab-, tabpanel-):defined:focus-visible {
	outline: 6px solid DeepPink;
	outline-offset: -2px;
	z-index: 1;
}
